;Usage:
; title is the discord embed message title, will be highlighted
; description is the discord description field, normal text. default is blank
; content this is where you can include <@##########> role\user tags. default is blank
; fieldtitle[] will be highlighted
; fieldtext[] shows up under fieldtitle, normal text
; fieldtitle[] and fieldtext[] must be used in pairs, you can leave one blank if you want but it must be assigned
;  You can have up to 25 field sets
;
;Available text substitutions:
; <pokemon_name> <pokemon_level> <cp> <iv> <iv_a> <iv_d> <iv_s> <hide_time> <hide_minutes>
; <move_name_1> <move_type_1> <move_name_2> <move_type_2>
; <height> <weight> <pokemon_type>  <gender> <weather> <weather_emoji>
; <pokemon_url> <geofence> <lat> <lon> <googlemaps> <applemaps> <waze>
;


[Default]
title = <pokemon_name> <iv_a>/<iv_d>/<iv_s> (<iv>%) <weather_emoji> *Boosted*
description = 
content = 
fieldtitle[] = Level <pokemon_level> | CP <cp><gender>
fieldtext[] = <move_name_1><move_type_1> / <move_name_2> <move_type_2>
fieldtitle[] = Disappears: <hide_time> (*<hide_minutes> Mins*)
fieldtext[] = Height: <height> | Weight: <weight> \n <pokemon_type>
fieldtitle[] = <geofence> | Directions:
fieldtext[] = [Google Maps](<googlemaps>) | [Apple Maps](<applemaps>) | [Waze](<waze>)

[Default_noivs]
title = <pokemon_name> <weather_boost>
description = Disappears: <hide_time> (*<hide_minutes> Mins*)
fieldtitle[] = <geofence> | Directions:
fieldtext[] = [Google Maps](<googlemaps>) | [Apple Maps](<applemaps>) | [Waze](<waze>)