;Usage:
; title is the discord embed message title, will be highlighted
; description is the discord description field, normal text.
; content this is where you can include <@##########> role\user tags.
; fieldtitle[] will be highlighted
; fieldtext[] shows up under fieldtitle, normal text
; fieldtitle[] and fieldtext[] must be used in pairs, you can leave it blank if you want but it must be assigned
;  You can have up to 25 field sets
;
;Available text substitutions:
; <geofence> <lat> <lon> <googlemaps> <applemaps> <waze>
; <gym_name> <raid_level> <defending_team> <raid_sponsor>
; for raids:
;  <move_name_1> <move_type_1> <move_name_2> <move_type_2>
;  <pokemon_name> <pokemon_type> <end_time> <end_mins>
; for eggs:
;  <hatch_time> <hatch_mins>
;

[Default_Raid]
title = **<pokemon_name>** has taken over a Gym!
description = <move_name_1> <move_type_1> / <move_name_2> <move_type_2>
fieldtitle[] = <gym_name> | <geofence>
fieldtext[] = <pokemon_type>\nWeaknesses:
fieldtitle[] = Raid Ends: <end_time> (*<end_mins> Mins*)
fieldtext[] = Level <raid_level> | <defending_team> Gym<raid_sponsor>
fieldtitle[] = Directions:
fieldtext[] = [Google Maps](<googlemaps>) | [Apple Maps](<applemaps>) | [Waze](<waze>)

[Default_Egg]
title=
description=
fieldtitle[] = <gym_name>
fieldtext[] = <geofence>
fieldtitle[] = Hatches: <hatch_time> (*<hatch_mins> Mins*)
fieldtext[] = Level <raid_level> | <defending_team> Gym<raid_sponsor>
fieldtitle[] = Directions:
fieldtext[] = [Google Maps](<googlemaps>) | [Apple Maps](<applemaps>) | [Waze](<waze>)